@import url("./reset.css");

[data-theme="light"] {
  --bg-color: #f8fafc;
  --surface-color: #ffffff;
  --text-main: #0f172a;
  --text-secondary: #707070;
  --accent: #6366f1;
  --border-forms: #e7e7e9;
  --border-color: #e7e7e9;
  --bg-inputs: #ffffff;
  --bg-hover-note: #fcfdfe;
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --surface-color: #1e293b;
  --text-main: #f8fafc;
  --text-secondary: #909090;
  --accent: #818cf8;
  --border-color: #343e4f;
  --border-forms: #3a4454;
  --bg-inputs: #253041;
  --bg-hover-note: #182234;
}

body {
  background-color: var(--bg-color);
}
